@import url("http://overpass-30e2.kxcdn.com/overpass.css")
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

body
  font-family: overpass, sans-serif

h1, h2, h3, h4, h5, h6
  font-family: open sans, sans-serif

header.masthead
  background: #a40000

  .logo
    height: auto
    width: 130px
    margin: 2rem 2rem 1.5rem

  .hgroup,
  .nav
    max-width: $content-width

  nav
    background: #700

    a
      &:link, &:visited, &:active
        color: #fff

.mission
  background-color: #fff7b2
  margin: 10px -20px 40px
  padding: 1.5em 2.75em 1em
  font-size: 130%

.mission-text
  color: #5d5a41

article
  max-width: 100%

  img
    max-width: 100%
    height: auto
